<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuickInterface.Properties.Settings.DBABnch_LOCALConnectionString"
            connectionString="Data Source=localhost\JUNK;Initial Catalog=DBABnch_LOCAL;Integrated Security=True;Persist Security Info=True;Connect Timeout=2;Network Library=dbmslpcn;Workstation ID=JRS01LT994;ConnectRetryCount=2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>